/data
parameter_sensitivity_hms.pickle
seg_background_comp.pickle
seg_boundary_comp.pickle
seg_foreground_comp.pickle
.DS_Store
.DS_Store
.DS_Store
.DS_Store
func/__pycache__/__init__.cpython-38.pyc
*.pyc
func/__pycache__/__init__.cpython-38.pyc
*.pyc
func/__pycache__/__init__.cpython-38.pyc
func/__pycache__/network.cpython-38.pyc
